body {
}

.contain-to-grid, 
.top-bar {
  background-color: white;
  height: 5em;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.95em 0;
}

.social-media {
	position: absolute;
	top: 2.35em;
	right: 0.5em;
}

.row {
	padding: 0;
}

.columns {
	padding: 30px 15px 0;
}

.footer {
	display: absolute;
	width: 100%;
	background-color: #414042;
	height: 30px;
	margin-top: 30px;
}

.copyright {
	display: block;
	font-family: 'Noto Sans', Arial, sans-serif;
	font-weight: 700;
	color: #fff;
	font-size: 0.5em;
	vertical-align: middle;
	text-align: center;
}