$ship-gray: #414042;

body {
}

h2 {
	font-family: 'Lora', Arial, sans-serif;
	font-weight: 700;
	color: $ship-gray;
	font-size: 2em;
	text-align: center;
	margin: 50px;
}

h3 {
	font-family: 'Lora', Arial, sans-serif;
	font-weight: 700;
	color: $ship-gray;
	font-size: 1.5em;
}

p {
	font-family: 'Lora', Arial, sans-serif;
	font-weight: 700;
	color: $ship-gray;
	font-size: 1em;
}

.contain-to-grid, 
.top-bar {
  background-color: white;
  height: 5em;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.95em 0;
}

.social-media {
	position: absolute;
	top: 2.35em;
	right: 0.5em;
}

.row {
	padding: 0;
}

.columns {
	padding: 30px 15px 0;
}

.recipe {
	border: solid 3px $ship-gray;
	margin: 50px;
	padding: 50px;
}

.list{
	font-family: 'Lora', Arial, serif;
	font-weight: 700;
	color: $ship-gray;
	font-size: 1em;
}

.fa {
	color: $ship-gray;
	padding-right: 10px;
}

.copyright {
	display: block;
	font-family: 'Noto Sans', Arial, sans-serif;
	font-weight: 400;
	color: #ccc;
	font-size: 0.5em;
	vertical-align: middle;
	text-align: center;
	padding: 8px;
}

.footer {
	display: absolute;
	width: 100%;
	background-color: $ship-gray;
	height: 30px;
	margin-top: 30px;
}

.temp {
	width: 200px;
	height: 200px;
}

.overlay-wrapper {
	position: relative;
	background-color: pink;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	&:hover {
		padding-top: 50%;
		background-color: rgba(255,255,255, 0.7);
	}
}

.overlay-expand {
	width: 100%;
	height: 100%;
	border: 3px solid $ship-gray;
	border-radius: 20px;
	font-family: 'Noto Sans', Arial, sans-serif;
	font-weight: 700;
	font-size: 40px;
	color: $ship-gray;
	text-align: center;
	line-height: 1em;
	margin-left: auto;
	margin-right: auto;
	display: none;
	opacity: 0;
	display: block;
	&:hover {
		color: $ship-gray;
	}
}

.overlay:hover .overlay-expand {
	margin-top: -25px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	opacity: 1;
}

.overlay,
.overlay-expand {
	transition: all 0.5s;
}





